@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, Sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'sriracha', cursive;
}



body {
    margin: 0px;
}

header {
    background-color: black;
    text-align: center;
    padding: 50px;
    margin-bottom: 80px;
}

header > h1 {
    color: white;
    font-family: var(--fonte2);

    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 8vw;
}

header > p {
    color: rgba(255, 255, 255, 0.671);
    font-family: var(--fonte1);

    margin-top: 0px;
    font-size: 13px;
}

.links {
    color: white;
    text-decoration: none;
}

.links:hover {
    text-decoration: underline;
}

main > .texton {
    font-size: 3vw;
    font-family: var(--fonte3);
}

section.texton > p {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 25px;
}

section.img {
    padding-top: 8vh;
    padding-bottom: 8vh;
    margin-top: 70px;
    margin-bottom: 70px;

    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 3px 3px 12px rgba(0, 0, 0, 0.24);
}


.textoe {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 25px;
    padding-left: 3px;

    color: white;
    font-family: var(--fonte3);
    font-size: 3vw;
    background-color: rgba(0, 0, 0, 0.548);
    max-width: 40vw;
    text-shadow: 1px 1px 0px black;
}

section#espaço {
    margin-top: 50px;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
}

footer {
    margin-top: 50px;
    padding: 8px;

    background-color: black;
    text-align: center;
    font-family: var(--fonte1);
}

footer > p {
    color: rgba(255, 255, 255, 0.623);
    margin: 0px;
}

.destaque {
    color: white;
}
